$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#main {
    max-width: 1200px;
}

#home .container-fluid, #category .container-fluid, #charts .container-fluid {
    padding: 0px;
    padding-bottom: 20px;
}

#reports {
    display: block;
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 20px;
}

#category .container-fluid > .row div {
    text-align: center;
    background-color: #fff;
    height: 100px;
    padding: 3px 0;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

#category .container-fluid > .row a {
    width: 100%;
    display: block;
}

.report-tags {
    text-align: right;

 }

 .agro,
 .gremio,
 .lacteo,
 .comercio,
 .precios,
 .creditos {
    height: 100px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #519300;
    font-family: Arial;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.agro {
    background-image: url(../images/agro.png);
    text-decoration: none;
 

 }
 .gremio {
    background-image: url(../images/gremios.png);
    text-decoration: none;


 }
 .lacteo {
    background-image: url(../images/lacteos.png);
    text-decoration: none;

 }
 .comercio {
    background-image: url(../images/comercio.png);
    text-decoration: none;
 }
 .precios {
    background-image: url(../images/precios.png);
    text-decoration: none;
 }
 .creditos {
    background-image: url(../images/creditos.png);
    text-decoration: none;
 }
 .agro:hover,
 .gremio:hover,
 .lacteo:hover,
 .comercio:hover,
 .precios:hover,
 .creditos:hover,
 {
    background-color: #057032;
    text-decoration: none;
 }
  .text {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #2E3D47;
 }
   .title {
   font-family: inherit;
   font-size: 24px;
   color: #519300;

 } 
   .title:hover{
    color: #057032;
    text-decoration: none;
}
   .panel-body1 {
   background-color: #eee;
   border: 1px solid transparent;
   border-radius: 4px;
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
   padding: 15px;

}
   .panel-title {
   font-family: inherit;
   font-size: 24px;
   color: #519300;
   background-color: #eee;
   padding: 15px 1px 1px 1px;
   text-align: center;
   text-decoration: none;

}
   .button-green {
    background-color: #519300;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    display: inline-block;
    min-width: 10px;
    padding: 7px 8px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border-radius: 1px;
    margin: 2px 0px;

  } 
   .button-option {
    margin-bottom: 20px;
    background-color: #FFC061;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  }
   .button-option:hover {
    background-color: #FF9B17;
    text-decoration: none;
   }
   .report-tags-left {
    text-align: left;

   }
    .panel-default > .panel-heading1 {
    color: #333333;
    background-color: #eee;
    border-color: #ddd;
   }
   .grey {
    background-color: #eee;
    border-color: #ddd;
    //padding: 10px 0px;
    margin-top: 3px;

   }
    /*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 4px;
   }*/
.search {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (min-width: $screen-md-min) {
    #reports {
        max-height: 800px;
    }
}
