$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#main {
    max-width: 1200px;
}

.main-nav {
  border:  none;
}

#reports, #homeReports {
    padding: 0;
    display: block;
    max-height: 250px;
    overflow-y: scroll;
    overflow-x: hidden;    
}

#charts {
    padding: 0;
    display: block;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;     
}

#reports .media {
  margin: 0;
  padding: 15px;
}
.reportItemSearch {
  padding: 10px;
}

#reports .media:hover, .reportItemSearch:hover {
  background-color: #ddd;
  cursor: pointer;
  .title {
    color: #057032;
  }
  .text {
    color: #000;  
  }  
}

.main-nav, .main-content, .filters-charts, #category, #homeReports {
  margin: 0;
  padding: 0;
}

.breadcrumb {
   background-color: #FAFAFA;
   border-radius: 0;
   -moz-border-radius: 0;
   -webkit-border-radius: 0;
   -o-border-radius: 0;
   margin-left: 0;   
   margin-right: 0;
   margin-top: 7px;
   margin-bottom: 0;
   padding-left: 0;   
}

.breadcrumb a {  
  color: #519300;
  font-size: 15px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.breadcrumb > .active {
     color: #fff;
}

.breadcrumb > li + li:before {
     content: "\00BB";
     color: #aaa;
}

#category .container-fluid > .row div {
    text-align: center;
    background-color: #fff;
    height: 100px;
    padding: 3px 0;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

#category .container-fluid > .row a {
    width: 100%;
    display: block;
}

#charts .panel-default {
  border: none;
  margin-left: 15px;
  margin-right: 15px; 
}

#filters .panel-default {
  border: none;
}

.loading-state, .error-state {
  min-height: 400px;
  background-color: #fff;
  background-image: url('../images/fondo.jpg');
  background-position: fixed;
}

#homeReports .panel-default {
  border: none;
  margin: 20px;
}

.report-tags {
    text-align: right;
}  

 .agro,
 .gremio,
 .lacteo,
 .comercio,
 .precios,
 .creditos,
 .indicadores,
 .pesca {
    height: 100px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #519300;
    font-family: Arial;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.agro {
    background-image: url(../images/agro.png);
    text-decoration: none;
 

 }
 .gremio {
    background-image: url(../images/gremios.png);
    text-decoration: none;


 }
 .lacteo {
    background-image: url(../images/lacteos.png);
    text-decoration: none;

 }
 .comercio {
    background-image: url(../images/comercio.png);
    text-decoration: none;
 }
 .precios {
    background-image: url(../images/precios.png);
    text-decoration: none;
 }
 .creditos {
    background-image: url(../images/creditos.png);
    text-decoration: none;
 }
 .indicadores {
    background-image: url(../images/indicadores.png);
    text-decoration: none;
 }
 .pesca {
    background-image: url(../images/pesca.png);
    text-decoration: none;
 }
 .agro:hover,
 .gremio:hover,
 .lacteo:hover,
 .comercio:hover,
 .precios:hover,
 .creditos:hover,
 .indicadores:hover,
 .pesca:hover,
 .activeItem,
 .activeItem:hover
 {
    background-color: #057032;
    text-decoration: none;
    .title, .text {
      color: #fff;  
    }  
 }
.text {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #2E3D47;
 }

.title {
   font-family: inherit;
   font-size: 18px;
   color: #519300;

 } 
   .title:hover{
    color: #057032;
    text-decoration: none;
}
   .panel-body1 {
   background-color: #eee;
   border: 1px solid transparent;
   border-radius: 4px;
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
   //padding: 15px;

}
   .panel-title {
   font-family: inherit;
   font-size: 24px;
   color: #519300;
   background-color: #eee;
   padding: 15px 1px 1px 1px;
   text-align: center;
   text-decoration: none;

}
.button-green {
    background-color: #519300;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    display: inline-block;
    min-width: 10px;
    padding: 7px 8px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border-radius: 1px;
    margin: 2px 0px;

} 
.button-option {
    margin-bottom: 20px;
    background-color: #FFC061;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.button-option:hover {
    background-color: #FF9B17;
    text-decoration: none;
}
.report-tags-left {
    text-align: left;
}    
.grey, .filters-charts, #homeReports {
    background-color: #eee;
    margin-top: 3px;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    margin-top: 150px;
    background-color: RGBA(255, 255, 255, 0.8);
    padding-top: 20px;
}

.btn-search {
  background-image: url('../images/buscar.png');
  background-repeat: none;
}
 
@media screen and (min-width: $screen-sm-min) {
    #reports, #homeReports {        
        height: 800px;
        max-height: 800px;
        border-left: solid 4px #fff;
    }
    #filters-charts {
      border-left: solid 4px #fff;
    }
    #charts {        
        height: 648px;
        max-height: 648px;
    }
}
