<% _.each(data, function(d){ %>
  <div class="panel panel-default <% if (d.widget === "jqxGrid") { %>no-print<% } %>">    
    <div class="panel-heading">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="pull-right btn-group btn-group-sm" role="group" aria-label="...">
            <% if (d.widget === "jqxGrid") { %>
            <button data-chart="chart<%= idReporte %>-<%= d.idGrafica %>" type="button" class="btn btn-success exportBtn">
            Excel <span class="glyphicon glyphicon glyphicon-paperclip" aria-hidden="true"></span></button>
            <% } else { %>
            <button type="button" data-chart="<%= d.idGrafica %>" class="btn btn-success jpgBtn">JPEG</button>
            <button type="button" data-chart="<%= d.idGrafica %>" class="btn btn-success svgBtn">SVG</button>
            <button type="button" data-chart="chart<%= idReporte %>-<%= d.idGrafica %>" class="btn btn-success printBtn"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></button>
            <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="chart<%= idReporte %>-<%= d.idGrafica %>" class="panel-body text"></div>
  </div>
<% }); %>
