<div class="panel panel-default text">
  <div class="panel-heading1">
    <h3 class="panel-title">Filtro</h3>
  </div>
  <div class="panel-body1">
    <form role="form text">
      <% _.each(data, function(d){ %>
      <div class="form-group text">
        <span class="text"><%= d.label %></span>
        <div id="filter<%= d.idParametro %>"></div>
      </div>
      <% }); %>      
      <div class="form-group">        
        <a href="#" id="specsBtn" class="btn btn-info btn-sm btn-block">
          <span class="glyphicon glyphicon-download-alt"></span>
          Ficha técnica
        </a>
      </div>
    </form>
  </div>
</div>