<div class="row">
  <% _.each(data, function(d){ %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <a href="#"><%= d.titulo %></a>
          </h4>
          <%= d.descripcion %> 
          <span class="glyphicon glyphicon-file"></span>
        </div>
        <div class="media-footer report-tags">
          <% _.each(d.etiquetas, function(e){ %>
          <span class="badge"><%= e %></span>
          <% }); %>
        </div>
       </div> 
    </div>  

    <!-- CHART REGION -->
    <div id="chart<%= d.id %>" class="panel-body">      
    </div>                                  
  </div>
  <% }); %>
</div>