<% _.each(data, function(d){ %>                  
<div id="report<%= d.idReporte %>" class="media reportItem" data-report="<%= d.idReporte %>">
    <div class="media-body">
      <h4 class="media-heading"><span class="title"><%= d.titulo %></span></h4>
      <p class="text"><%= d.descripcion %></p>
    </div>
    <div class="media-footer report-tags-left">
      <% _.each(d.etiquetas, function(e){ %>
      <span class="badge button-green"><%= e %></span>
      <% }); %>
    </div>
</div>
<% }); %>